<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="">
<head>
<title>Home Page</title>
<link href="../../css/bootstrap/bootstrap.min.css" rel="stylesheet"></link>
<script src="../../js/lib/jquery/jquery.min.js"></script>
<script src="../../js/lib/bootstrap/bootstrap.min.js"></script>
<script src="../../js/lib/angular/angular.js"></script>

</head>
<body onload="document.f.username.focus();">
  <div class="container">
    <div ng-include="'../../html/header.html'"></div>
    <div class="content">
       This is home page.
    </div>
  </div>
</body>
</html>